/* =============
    Base
============= */


.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

ul {
    padding: 0;

    li {
        list-style: none;
    }
}

.dot {
    height: 10px;
    width: 10px;
    background-color: $red;
    border-radius: 50%;
    margin: 8.5px;
}

.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -15px;
}

.dot-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

    @include md {
        margin-top: 0px;
    }
}

.dot-open {
    height: 4px;
    width: 4px;
    border: 3px $red solid;
    border-radius: 50%;
    margin: 8.5px;
}

.content-spacing {
    padding-top: 45px;

    @include md {
        padding-top: 75px;
    }
}

.lg-circle {
    background: $white;
    border-radius: 50%;
    height: 254px;
    width: 254px;
    opacity: 35%;
}

.sm-circle {
    background: $white;
    border-radius: 50%;
    height: 109px;
    width: 109px;
    opacity: 35%;
}