/* =============
    Section-4
============= */

#section-4 {

    background: linear-gradient(180deg, rgba(168, 198, 217, 1) 0%, rgba(162, 195, 215, 1) 100%);
    background: rgb(168, 198, 217);
    overflow: hidden;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    display: grid;
    grid-template-areas: ". section-4 .";
    grid-template-columns: 15px auto 15px;

    #section-4-content {
        grid-area: section-4;
        position: relative;
        z-index: 500;

        #section-4-lg-circle {
            left: -117px;
            overflow: visible;
            position: absolute;
            top: 0px;

            @include md {
                left: -10px;
                top: -75px;
            }

            @include lg {
                left: 760px;
                top: 0px;
            }
        }

        #section-4-lg-circle-2 {
            display: none;

            @include lg {
                bottom: 0px;
                display: inline;
                height: 426px;
                left: 595px;
                position: absolute;
                width: 426px;
            }
        }

        #section-4-sm-circle {
            left: -39px;
            position: absolute;
            top: 170px;

            @include md {
                left: -41px;
                top: 94px;
            }

            @include lg {
                left: 900px;
                top: 268px;
            }
        }

        h1 {
            color: $light-blue;
            font-size: rem-calc(31);
            text-align: center;

            @include md {
                font-size: rem-calc(42);
            }
        }

        ul {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;

            li {
                img {
                    height: 30px;
                }
            }
        }

        #g1 {
            background-image: url("../img/section-4/1.png");
            background-size: cover;
            height: 59px;
            margin-top: 34px;
            margin: auto;
            width: 256px;

            @include md {
                height: 154px;
                width: 668px;
            }
        }

        #section-4-link {
            display: flex;
            justify-content: center;

            a:link,
            a:visited {
                color: $white;
                font-size: rem-calc(21);
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $pastel-blue;
            }

            h2 {
                background-color: $red;
                border-radius: 25px;
                color: white;
                font-size: rem-calc(21);
                font-weight: 400;
                padding: 7px 14px;
                text-align: center;
                text-decoration: none;
                width: 180px;
            }

        }
    }
}