#section-6-circles {

    position: relative;
  
    #section-6-lg-circle-1 {
        position: absolute;
        top: 194px;
        left: -96px;
       

        @include md {
            top: 63px;
            left: -77px;
        }

        @include lg {
            top: 494px;
            left: 750px;
        }
    }

    #section-6-lg-circle-2 {
        position: absolute;
        top: 746px;
        left: 177px;
        width: 195px;
        height: 195px;

        @include md {
            top: 474px;
            left: 450px;
            width: 315px;
            height: 315px;
        }

        @include lg {
            top: 408px;
            left: 527px;
            height: 425px;
            width: 426px;
        }
    }

    #section-6-lg-circle-3 {
        position: absolute;
        top: 1481px;
        left: -77px;

        @include md {
            top: 796px;
            left: 510px;
        }

        @include lg {
            top: 1105px;
            left: -55px;
        }
    }

    #section-6-lg-circle-4 {
        position: absolute;
        top: 2282px;
        left: 137px;
        width: 230px;
        height: 230px;

        @include md {
            top: 1697px;
            left: -77px;
        }

        @include lg {
            top: 1305px;
            left: -5px;
            height: 426px;
            width: 426px;
        }
    }

    #section-6-lg-circle-5 {
        display: none;

        @include lg {
            display: inline;
            position: absolute;
            top: 1911px;
            left: 760px;
        }
    }

    #section-6-lg-circle-6 {
        display: none;

        @include lg {
            display: inline;
            position: absolute;
            top: 2113px;
            left: 590px;
            height: 426px;
            width: 426px;
        }
    }

    #section-6-sm-circle-1 {
        position: absolute;
        top: 416px;
        left: -31px;

        @include md {
            top: 363px;
            left: -23px;
        }

        @include lg {
            top: 692px;
            left: 910px;
        }
    }

    #section-6-sm-circle-2 {
        position: absolute;
        top: 961px;
        left: 259px;

        @include md {
            top: 963px;
            left: 650px;
        }

        @include lg {
            top: 1305px;
            left: -14px;
        }
    }

    #section-6-sm-circle-3 {
        position: absolute;
        top: 1699px;
        left: -47px;

        @include md {
            top: 1657px;
            left: -54px;
        }

        @include lg {
            top: 2111px;
            left: 910px;
        }
    }

    #section-6-sm-circle-4 {
        position: absolute;
        top: 2482px;
        left: 259px;

        @include md {
            height: 0px;
            width: 0px;
        }
    }
}
