/* =============
    Section-2
============= */

#section-2 {

    background: rgb(221, 228, 233);
    background: linear-gradient(180deg, rgba(221, 228, 233, 1) 0%, rgba(196, 214, 226, 1) 100%);
    overflow: hidden;

   

    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-2 .";
    }

    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-2 .";

    @include md {
        margin-bottom: -60px;
    }

    #section-2-container {
        grid-area: section-2;
        position: relative;
        z-index: 500;
    
            #section-2-lg-circle {
                position: absolute;
                top: -90px;
                left: -94px;
    
                @include md{
                    top: -200px;
                    left: -41px;
                }
    
                @include lg{
                    top: 200px;
                    left: 770px;
                }
            }
    
            #section-2-lg-circle-2 {
                display: none;
    
                @include lg{
                    display: inline;
                    position: absolute;
                    top: 8px;
                    left: 580px;
                    height: 426px;
                    width: 426px;
                }
            }
    
            #section-2-sm-circle {
                position: absolute;
                top: 110px;
                left: -5px;
    
                @include md{
                    top: 6px;
                    left: -10px;
                }
    
                @include lg{
                    top: 420px;
                    left: 900px;
                }
            }

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
                "when price"
                "tickets tickets";
            gap: 50px;
        }


        #section-2-when {
            text-align: center;
            margin: 20px;


            h1 {
                font-size: rem-calc(31);
                color: $light-blue;

                @include md {
                    font-size: rem-calc(42);
                }
            }

            h3 {
                font-size: rem-calc(18);
                color: $dark-blue;
                font-weight: 400;

                @include md {
                    font-size: rem-calc(22);

                    span {
                        font-weight: 700;
                    }
                }

                @include lg {
                    font-size: rem-calc(28);
                }
            }

            @include md {
                grid-area: when;
                margin: 0;
                border-left: 2px $pastel-blue solid;
                border-right: 2px $pastel-blue solid;
            }
        }

        #section-2-price {
            text-align: center;

            @include md {
                border-right: 2px $pastel-blue solid;
                grid-area: price;
                margin-left: -40px;
            }

            h1 {
                font-size: rem-calc(31);
                color: $light-blue;

                @include md {
                    font-size: rem-calc(42);
                }
            }

            h3 {
                font-size: rem-calc(18);
                color: $dark-blue;
                font-weight: 400;

                span {
                    font-weight: 700;
                }

                @include md {
                    font-size: rem-calc(22);
                }

                @include lg {
                    font-size: rem-calc(28);
                }
            }


        }

        #section-2-link {
            display: flex;
            justify-content: center;
            grid-area: tickets;

            a:link,
            a:visited {
                color: $white;
                transition: 0.25s;
                font-size: rem-calc(21);
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $light-blue;
            }

            h2 {
                text-align: center;
                background-color: $red;
                color: white;
                padding: 10px 20px;
                border-radius: 25px;
                width: 121px;
                font-weight: 400;
            }

        }

        #hr2 {
            width: 140px;
            border-bottom: 2px solid $pastel-blue;
            border-radius: 25%;
            margin: auto;

            @include md {
                width: 0;
            }
        }

    }
}