/* =============
    Section-6
============= */

#section-6 {

    background: rgb(151, 189, 212);
    background: linear-gradient(180deg, rgba(151, 189, 212, 1) 0%, rgba(102, 161, 197, 1) 100%);

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-6 .";

    #section-6-content {
        grid-area: section-6;

        h1 {
            text-align: center;
            font-size: rem-calc(31);
            color: $light-blue;

            @include md {
                font-size: rem-calc(42);
            }
        }

        #section-6-p {
            text-align: center;
            font-size: rem-calc(18);
            line-height: rem-calc(24);
            color: $dark-blue;

            @include md {
                text-align: left;
                grid-area: p;
                margin-right: 15px;
                font-size: rem-calc(22);
                line-height: rem-calc(30);
            }

            @include lg {
                font-size: rem-calc(27);
                line-height: rem-calc(37);
                margin-left: 30px;
            }
        }

        aside {
            img {
                margin-top: 20px;
                width: 100%;
            }

            @include md {
                grid-area: wine;

                img {
                    //  height: 301px;
                    //  width: 461px;
                }
            }

            @include lg {
                margin-right: 30px;
            }
        }

        #section-6-beg {
            @include md {
                display: grid;
                grid-template-columns: 40% auto;
                grid-template-areas:
                    "p wine";
            }
        }

        // ul {
        //     li {
        // #hr {
        //     width: 239px;
        //     border-bottom: 3px solid black;
        //     border-radius: 25%;
        //     margin: auto;
        //     margin-top: -20px;

        //     @include md {
        //         width: 553px;
        //     }
        // }

        // hr {
        //     border: 1px solid black;
        //     border-radius: 25%;
        //     width: 159px;
        //     margin: auto;
        //     margin-top: -20px;

        //     @include md {
        //         width: 196px;
        //     }
        // }

        // h3 {
        //     text-align: center;
        // }

        // h5 {
        //     text-align: center;
        // }

        // p {
        //     text-align: left;
        // }

        // aside {
        //     display: grid;
        //     grid-template-columns: 50% auto;
        //     grid-template-areas: "g1 g2";
        //     gap: 30px;

        //     // @include md{
        //     //     grid-template-columns: 1;
        //     //     grid-template-rows: 50% auto;
        //     //     grid-template-areas: "g1" "g2";
        //     //     align-items: center;
        //     // }
        // }

        // .g1 {
        //     img {
        //         height: 134px;
        //         width: 134px;
        //         display: block;
        //         margin-left: auto;
        //         margin-right: auto;

        //         @include md {
        //             height: 174px;
        //             width: 174px;
        //         }

        //         @include lg {
        //             height: 212px;
        //             width: 212px;
        //         }
        //     }

        //     grid-area: g1;

        // }

        // .g2 {
        //     grid-area: g2;

        //     img {
        //         height: 134px;
        //         width: 134px;
        //         display: block;
        //         margin-left: auto;
        //         margin-right: auto;

        //         @include md {
        //             height: 174px;
        //             width: 174px;
        //         }

        //         @include lg {
        //             height: 212px;
        //             width: 212px;
        //         }
        //     }
        // }


        //     }
        // }

        #section-6-f {
            #section-6-fbig {
                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: "fdrink fmusic";
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-fdrink {
                grid-area: fdrink;

                h5 {
                    text-align: center;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    color: $dark-blue;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-fmusic {
                grid-area: fmusic;

                h5 {
                    text-align: center;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    color: $dark-blue;

                    span {
                        text-align: center;
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr {
                width: 239px;
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border: 1px solid $red;
                border-radius: 25%;
                width: 159px;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                font-size: rem-calc(23);
                margin-bottom: 20px;
                color: $light-blue;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {
                text-align: center;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                color: $dark-blue;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            p {
                text-align: left;
                font-size: rem-calc(16);
                font-weight: 400;
                font-style: italic;
                line-height: rem-calc(24);
                color: $dark-blue;
                padding-left: 50px;

                @include md {
                    font-size: rem-calc(16);
                    padding-left: 75px;
                    margin-bottom: 170px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "g1 g2";
                gap: 30px;

                @include md {
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                    grid-template-areas: "g1""g2";
                    align-items: center;
                    gap: 0px;
                }
            }

            #g1 {
                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g1;

            }

            #g2 {
                grid-area: g2;

                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }

        #section-6-s {

            #section-6-sbig {
                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: "sdrink smusic";
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-sdrink {
                grid-area: sdrink;

                h5 {
                    text-align: center;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    color: $dark-blue;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-smusic {
                grid-area: smusic;

                h5 {
                    text-align: center;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    color: $dark-blue;

                    span {
                        text-align: center;
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr2 {
                width: 239px;
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border: 1px solid $red;
                border-radius: 25%;
                width: 159px;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                font-size: rem-calc(23);
                margin-bottom: 20px;
                color: $light-blue;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {
                text-align: center;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                color: $dark-blue;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            p {
                text-align: left;
                font-size: rem-calc(16);
                font-weight: 400;
                font-style: italic;
                line-height: rem-calc(24);
                color: $dark-blue;
                padding-left: 50px;

                @include md {
                    font-size: rem-calc(16);
                    padding-left: 75px;
                    margin-bottom: 130px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "g3 g4";
                gap: 30px;
                grid-area: smusic;

                @include md {
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                    grid-template-areas: "g3""g4";
                    align-items: center;
                    gap: 0px;
                }
            }

            #g3 {
                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g3;

            }

            #g4 {
                grid-area: g4;

                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }

        #section-6-su {

            #section-6-subig {
                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: "sudrink sumusic";
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-sudrink {
                grid-area: sudrink;

                h5 {
                    text-align: center;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    color: $dark-blue;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-sumusic {
                grid-area: sumusic;

                h5 {
                    text-align: center;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    color: $dark-blue;

                    span {
                        text-align: center;
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr3 {
                width: 239px;
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border: 1px solid $red;
                border-radius: 25%;
                width: 159px;
                margin: auto;
                margin-top: -20px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                font-size: rem-calc(23);
                margin-bottom: 20px;
                color: $light-blue;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {
                text-align: center;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                color: $dark-blue;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            p {
                text-align: left;
                font-size: rem-calc(16);
                font-weight: 400;
                font-style: italic;
                line-height: rem-calc(24);
                color: $dark-blue;
                padding-left: 50px;

                @include md {
                    font-size: rem-calc(16);
                    padding-left: 75px;
                    margin-bottom: 170px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "g5 g6";
                gap: 30px;

                @include md {
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                    grid-template-areas: "g5""g6";
                    align-items: center;
                    gap: 0px;
                }
            }

            #g5 {
                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g5;

            }

            #g6 {
                grid-area: g6;

                img {
                    height: 134px;
                    width: 134px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }
    }
}