/* =============
    Section-3
============= */

#section-3 {

    background: rgb(196, 214, 226);
    background: linear-gradient(180deg, rgba(196, 214, 226, 1) 0%, rgba(168, 198, 217, 1) 100%);
    overflow: hidden;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-3 .";

    #section-3-content {
        grid-area: section-3;
        position: relative;
        z-index: 500;

        #section-3-lg-circle {
            top: 51px;
            left: 162px;
            width: 210px;
            height: 210px;

            @include md {
                top: -20px;
                left: 600px;
                width: 165px;
                height: 165px;
            }

            @include lg {
                top: 218px;
                left: -22px;
            }
        }

        #section-3-lg-circle-2 {
            display: none;

            @include lg {
                display: inline;
                position: absolute;
                top: 8px;
                left: 159px;
                height: 426px;
                width: 426px;
            }
        }

        #section-3-sm-circle {
            position: absolute;
            top: 251px;
            left: 235px;

            @include md {
                top: 201px;
                left: 650px;
            }

            @include lg {
                top: 393px;
                left: -22px;
            }
        }

        h1 {
            text-align: center;
            font-size: rem-calc(31);
            color: $light-blue;

            @include md {
                font-size: rem-calc(42);
            }
        }

        #section-3-callout {
            margin-top: 30px;

            h2 {
                text-align: center;
                font-family: 'Libre Caslon Text', serif;
                font-weight: 400;
                font-size: rem-calc(20);
                line-height: rem-calc(30);
                color: $dark-blue;

                @include md {
                    font-size: rem-calc(36);
                    line-height: rem-calc(52);
                }

                @include md {
                    font-size: rem-calc(48);
                    line-height: rem-calc(52);
                }
            }

            div {
                width: 180px;
                border-bottom: 2px solid $red;
                border-radius: 25%;
                text-align: center;
                margin: auto;

                @include md {
                    width: 556px;
                    margin-top: 35px;
                    border-bottom: 3px solid $red;
                }

                @include lg {
                    width: 620px;
                }
            }

            @include md {
                grid-area: quote;
            }
        }


        p {
            text-align: justify;
            font-size: rem-calc(18);
            line-height: rem-calc(24);
            color: $dark-blue;

            @include md {
                grid-area: p;
                margin-right: 35px;
                font-size: rem-calc(22);
                line-height: rem-calc(30);
            }

            @include lg {
                border-right: solid 1px $pastel-blue;
                padding-right: 50px;
                font-size: rem-calc(26);
                line-height: rem-calc(34);
                padding-left: 50px;
            }
        }

        aside {
            background-image: url('../img/section-3/sailboat.jpg');
            background-position: center;
            background-size: cover;
            height: 299px;
            width: 259px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            @include md {
                grid-area: boat;
                height: 310px;
                width: 268px;
                margin-top: 30px;
            }

            @include lg {
                margin-top: 20px;
            }
        }

        #section-3-md {
            @include md {
                display: grid;
                grid-template-columns: 60% auto;
                grid-template-areas:
                    "p boat"
                    "quote quote";

            }

        }
    }

}