/* =============
    Section-5
============= */

#section-5 {

    background: linear-gradient(180deg, rgba(162, 195, 215, 1) 0%, rgba(151, 189, 212, 1) 100%);
    background: rgb(162, 195, 215);
    overflow: hidden;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    display: grid;
    grid-template-areas: ". section-5 .";
    grid-template-columns: 15px auto 15px;

    #section-5-content {
        grid-area: section-5;
        position: relative;
        z-index: 500;

        #section-5-lg-circle {
            height: 215px;
            left: 160px;
            top: 174px;
            width: 215px;

            @include md {
                height: 200px;
                left: 550px;
                top: -70px;
                width: 200px;
            }

            @include lg {
                height: 224px;
                left: -22px;
                top: 173px;
                width: 224px;
            }
        }

        #section-5-lg-circle-2 {
            display: none;

            @include lg {
                display: inline;
                height: 426px;
                left: 87px;
                top: 100px;
                width: 426px;
            }
        }

        #section-5-sm-circle {
            height: 100px;
            left: 272px;
            top: 385px;
            width: 100px;

            @include md {
                height: 55px;
                left: 704px;
                top: 115px;
                width: 55px;
            }

            @include lg {
                height: 109px;
                left: -39px;
                top: 353px;
                width: 109px;
            }
        }

        h1 {
            color: $light-blue;
            font-size: rem-calc(31);
            text-align: center;

            @include md {
                font-size: rem-calc(42);
            }
        }

        p {
            color: $dark-blue;
            font-size: rem-calc(18);
            line-height: rem-calc(24);
            text-align: justify;

            @include md {
                font-size: rem-calc(24);
                grid-area: p;
                line-height: rem-calc(30);
                margin-top: 0px;
                padding-left: 50px;
                text-align: justify;
            }

            @include lg {
                font-size: rem-calc(27);
                line-height: rem-calc(37);
                margin: 150px 0;
                padding-right: 50px;
            }
        }

        aside {
            img {
                width: 100%;
            }

            @include md {
                grid-area: boat;
                padding-right: 50px;
            }
        }
    }

    #section-5-md {
        @include md {
            display: grid;
            gap: 105px;
            grid-template-areas: "p boat";
            grid-template-columns: 50% auto;
            margin-top: 50px;
        }
    }
}