/* =============
    Section-6
============= */

#section-6 {

    background: linear-gradient(180deg, rgba(151, 189, 212, 1) 0%, rgba(102, 161, 197, 1) 100%);
    overflow: hidden;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }


    display: grid;
    grid-template-areas: ". section-6 .";
    grid-template-columns: 15px auto 15px;

    #section-6-content {
        grid-area: section-6;
        position: relative;
        z-index: 500;

        @include lg {
            .dot {
                margin-bottom: 5px;
            }
        }

        #section-6-lg-circle-1 {
            left: -96px;
            top: 194px;


            @include md {
                left: -77px;
                top: 63px;
            }

            @include lg {
                left: 750px;
                top: 494px;
            }
        }

        #section-6-lg-circle-2 {
            height: 195px;
            left: 177px;
            top: 746px;
            width: 195px;

            @include md {
                height: 315px;
                left: 450px;
                top: 474px;
                width: 315px;
            }

            @include lg {
                height: 425px;
                left: 527px;
                top: 408px;
                width: 426px;
            }
        }

        #section-6-lg-circle-3 {
            left: -77px;
            top: 1481px;

            @include md {
                left: 510px;
                top: 796px;
            }

            @include lg {
                left: -55px;
                top: 1105px;
            }
        }

        #section-6-lg-circle-4 {
            height: 230px;
            left: 137px;
            top: 2282px;
            width: 230px;

            @include md {
                left: -77px;
                top: 1697px;
            }

            @include lg {
                height: 426px;
                left: -5px;
                top: 1305px;
                width: 426px;
            }
        }

        #section-6-lg-circle-5 {
            display: none;

            @include lg {
                display: inline;
                left: 760px;
                top: 1911px;
            }
        }

        #section-6-lg-circle-6 {
            display: none;

            @include lg {
                display: inline;
                height: 426px;
                left: 590px;
                top: 2113px;
                width: 426px;
            }
        }

        #section-6-sm-circle-1 {
            left: -31px;
            top: 416px;

            @include md {
                left: -23px;
                top: 363px;
            }

            @include lg {
                left: 910px;
                top: 692px;
            }
        }

        #section-6-sm-circle-2 {
            left: 259px;
            top: 961px;

            @include md {
                left: 650px;
                top: 963px;
            }

            @include lg {
                left: -14px;
                top: 1305px;
            }
        }

        #section-6-sm-circle-3 {

            left: -47px;
            top: 1699px;

            @include md {
                left: -54px;
                top: 1657px;
            }

            @include lg {
                left: 910px;
                top: 2111px;
            }
        }

        #section-6-sm-circle-4 {
            left: 259px;
            top: 2482px;

            @include md {
                height: 0px;
                width: 0px;
            }
        }

        h1 {
            color: $light-blue;
            font-size: rem-calc(31);
            text-align: center;

            @include md {
                font-size: rem-calc(42);
            }
        }

        #section-6-p {

            color: $dark-blue;
            font-size: rem-calc(18);
            line-height: rem-calc(24);
            text-align: justify;

            @include md {
                font-size: rem-calc(23);
                grid-area: p;
                line-height: rem-calc(30);
                margin-right: 15px;
                text-align: justify;
            }

            @include lg {
                font-size: rem-calc(35);
                line-height: rem-calc(43);
                margin-left: 30px;
            }
        }

        aside {
            img {
                margin-top: 20px;
                width: 100%;
            }

            @include md {
                grid-area: wine;
            }

            @include lg {
                margin-right: 30px;
            }
        }

        #section-6-beg {
            margin-top: 15px;

            @include md {
                display: grid;
                grid-template-columns: 40% auto;
                grid-template-areas:
                    "p wine";
            }
        }

        #section-6-f {
            #section-6-fbig {
                @include md {
                    display: grid;
                    grid-template-areas: "fdrink fmusic";
                    grid-template-columns: 50% auto;
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-fdrink {
                grid-area: fdrink;

                h5 {
                    color: $dark-blue;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    text-align: center;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-fmusic {
                grid-area: fmusic;

                h5 {

                    color: $dark-blue;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    text-align: center;

                    span {
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);
                        text-align: center;

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr {
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin-top: -20px;
                margin: auto;
                width: 239px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border-radius: 25%;
                border: 1px solid $red;
                margin-top: -20px;
                margin: auto;
                width: 159px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                color: $light-blue;
                font-size: rem-calc(23);
                margin-bottom: 20px;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {
                color: $dark-blue;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                text-align: center;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            ul {
                color: $dark-blue;
                font-family: 'Nunito', sans-serif;
                font-size: rem-calc(16);
                font-style: italic;
                font-weight: 400;
                line-height: rem-calc(24);
                padding-left: 50px;
                text-align: left;

                @include md {
                    font-size: rem-calc(16);
                    margin-bottom: 170px;
                    padding-left: 75px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                gap: 30px;
                grid-template-areas: "g1 g2";
                grid-template-columns: 50% auto;

                @include md {
                    align-items: center;
                    gap: 0px;
                    grid-template-areas: "g1""g2";
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                }
            }

            #g1 {
                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g1;

            }

            #g2 {
                grid-area: g2;

                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }

        #section-6-s {

            #section-6-sbig {
                @include md {
                    display: grid;
                    grid-template-areas: "sdrink smusic";
                    grid-template-columns: 50% auto;
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-sdrink {
                grid-area: sdrink;

                h5 {
                    color: $dark-blue;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    text-align: center;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-smusic {
                grid-area: smusic;

                h5 {
                    color: $dark-blue;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    text-align: center;

                    span {
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);
                        text-align: center;

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr2 {
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin-top: -20px;
                margin: auto;
                width: 239px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border-radius: 25%;
                border: 1px solid $red;
                margin-top: -20px;
                margin: auto;
                width: 159px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                color: $light-blue;
                font-size: rem-calc(23);
                margin-bottom: 20px;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {
                color: $dark-blue;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                text-align: center;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            ul {
                color: $dark-blue;
                font-family: 'Nunito', sans-serif;
                font-size: rem-calc(16);
                font-style: italic;
                font-weight: 400;
                line-height: rem-calc(24);
                padding-left: 50px;
                text-align: left;

                @include md {
                    font-size: rem-calc(16);
                    margin-bottom: 130px;
                    padding-left: 75px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                gap: 30px;
                grid-area: smusic;
                grid-template-areas: "g3 g4";
                grid-template-columns: 50% auto;

                @include md {
                    align-items: center;
                    gap: 0px;
                    grid-template-areas: "g3""g4";
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                }
            }

            #g3 {
                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g3;

            }

            #g4 {
                grid-area: g4;

                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }

        #section-6-su {

            #section-6-subig {
                @include md {
                    display: grid;
                    grid-template-areas: "sudrink sumusic";
                    grid-template-columns: 50% auto;
                }

                @include lg {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            #section-6-sudrink {
                grid-area: sudrink;

                h5 {
                    color: $dark-blue;
                    font-size: rem-calc(17);
                    font-weight: 400;
                    line-height: rem-calc(17);
                    text-align: center;

                    @include md {
                        font-size: rem-calc(22);
                        line-height: rem-calc(32);
                    }
                }
            }

            #section-6-sumusic {
                grid-area: sumusic;

                h5 {
                    color: $dark-blue;
                    font-size: rem-calc(16);
                    font-weight: 400;
                    line-height: rem-calc(22);
                    text-align: center;

                    span {
                        color: $light-blue;
                        font-family: 'Libre Caslon Text', serif;
                        font-size: rem-calc(18);
                        line-height: rem-calc(18);
                        text-align: center;

                        @include md {
                            font-size: rem-calc(22);
                            line-height: rem-calc(22);
                        }
                    }

                    @include md {
                        font-size: rem-calc(20);
                        line-height: rem-calc(27);
                    }
                }
            }

            #hr3 {
                border-bottom: 3px solid $red;
                border-radius: 25%;
                margin-top: -20px;
                margin: auto;
                width: 239px;

                @include md {
                    width: 553px;
                }
            }

            hr {
                border-radius: 25%;
                border: 1px solid $red;
                margin-top: -20px;
                margin: auto;
                width: 159px;

                @include md {
                    width: 196px;
                }
            }

            h1 {
                color: $light-blue;
                font-size: rem-calc(23);
                margin-bottom: 20px;

                @include md {
                    font-size: rem-calc(32);
                }
            }

            h3 {

                color: $dark-blue;
                font-size: rem-calc(18);
                font-weight: 400;
                line-height: rem-calc(24);
                text-align: center;

                @include md {
                    font-size: rem-calc(24);
                    line-height: rem-calc(32);
                }
            }

            ul {
                color: $dark-blue;
                font-family: 'Nunito', sans-serif;
                font-size: rem-calc(16);
                font-style: italic;
                font-weight: 400;
                line-height: rem-calc(24);
                padding-left: 50px;
                text-align: left;

                @include md {
                    font-size: rem-calc(16);
                    margin-bottom: 170px;
                    padding-left: 75px;
                }

                @include lg {
                    line-height: rem-calc(30);
                    padding-left: 120px;
                }
            }

            aside {
                display: grid;
                gap: 30px;
                grid-template-areas: "g5 g6";
                grid-template-columns: 50% auto;

                @include md {
                    align-items: center;
                    gap: 0px;
                    grid-template-areas: "g5""g6";
                    grid-template-columns: 100%;
                    grid-template-rows: 50% auto;
                }
            }

            #g5 {
                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }

                grid-area: g5;

            }

            #g6 {
                grid-area: g6;

                img {
                    display: block;
                    height: 134px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 134px;

                    @include md {
                        height: 174px;
                        width: 174px;
                    }

                    @include lg {
                        height: 212px;
                        width: 212px;
                    }
                }
            }
        }
    }
}