/* =============
    Section-5
============= */

#section-5{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";

    #section-5-content{
        grid-area: section-5;

        h1{
            text-align: center;
        }

        p{
            text-align: center;
        }

        aside{
            img{
                width: 100%;
            }
        }
    }
}