/* =============
    Footer
============= */

footer{
    text-align: center;
    padding: 10px;
    h1{
        font-size: rem-calc(16);
    }

    h3{
        font-size: rem-calc(14);
    }
    ul{
        display: flex;
        justify-content: center;

        li{
            margin: 0 10px;

            a:link, a:visited{
                color: $black;
                transition: 0.25s;
                font-size: rem-calc(30);
            }

            a:hover, a:active{
                color: $white;
            }
        }
}
}