/* =============
    Footer
============= */

footer {


    background-color: #73A2BF;
    color: $dark-blue;
    padding: 10px;
    text-align: center;

    h1 {
        font-family: 'Nunito', sans-serif;
        font-size: rem-calc(18);
        font-weight: 400;
        line-height: rem-calc(24);

        a:link,
        a:visited {
            color: $dark-blue;
            font-family: 'Nunito', sans-serif;
            font-size: rem-calc(18);
            font-weight: 400;
            text-decoration: none;
            transition: 0.25s;
        }

        a:hover,
        a:active {
            color: $white;
        }
    }

    h3 {
        font-size: rem-calc(14);
        font-weight: 400;
        line-height: rem-calc(19);
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            margin: 0 10px;

            a:link,
            a:visited {
                color: $light-blue;
                font-size: rem-calc(30);
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $white;
            }
        }
    }

    @include lg {
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: repeat(2, 1fr);
    }

    #footer-1 {
        @include lg {
            grid-area: left;
        }
    }

    #footer-2 {

        @include lg {
            grid-area: right;
        }
    }
}